{% extends 'base_admin.html.twig' %}
{% trans_default_domain "FOSUserBundle" %}

{% block blanc %}Création Fournisseurs{% endblock %}
{% block underblanc %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div role="form">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}<br/>
                                <div>
                                    <input class="btn btn-default" type="submit" value="{{ 'object.create'|trans }}" />
                                </div>
                            {{ form_end(form) }}
                            </div>
                            <a href="{{ path('fournisseur_index') }}">Back to the list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
